#addtitulo {
    color: rgba(193,18,31,1);
}
h2, label {
    color: rgb(120,0,0) ;
}
.btn {
    background-color: #1e6091;
    border-radius: 5px;
    font-size: 18px;
}
.btn:hover{
    background-color: #2a6f97;
}

.navbar {
    background-color: rgba(120,0,0,1) !important;
}

.side-nav {
    background: rgb(120,0,0) !important;
    background: linear-gradient(180deg, rgba(120,0,0,1) 35%, rgba(193,18,31,1) 100%) !important;
}

#side-menu .sidenav-item:hover{
    color:#2b2d42;
    transition:0.7s;
    text-decoration: none;
}