* {
    font-family: 'Poppins', sans-serif;
}

/* Navbar principal */
.navbar-toggler{
    z-index: 0;
    margin-left: 15px;
}

.navbar {
    background-color: rgba(0,49,81,1);
}
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    color: rgba(233,236,239,1);
}

.fa-bars{
    color: rgba(233,236,239,1);
    font-size: 24px;
}

#titulo{
    font-size: 24px;
    margin-left: -65px;
}
/**/

/*Navbar Lateral*/
.side-nav
{
    height:100%;
    width:0;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
    background: black;
    opacity:0.97;
    overflow-x:hidden;
    padding-top:40px;
    transition:0.5s;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(180deg, rgba(0,49,81,1) 35%, rgba(14,76,146,1) 100%);
}
  
.side-nav a
{
    text-decoration:none;
    color: rgba(233,236,239,1);
    display:block;
    transition:0.3s;
    white-space: nowrap;
}

#side-menu .sidenav-item{
    margin-top: 5vh;
    margin-left: 35px;
    font-size: 18px;
    color: rgba(233,236,239,1);
}

.fa-dumbbell {
    margin-left: -6px;
}
.fa-weight, .fa-user-alt, .fa-power-off  {
    margin-left: -3px;
}

#side-menu .sidenav-item:hover{
    color:#e68910;
    transition:0.7s;
    text-decoration: none;
}

.btnn-close
{
    position:absolute;
    top:0;
    right:5px;
    font-size:36px;
    margin-left:30px;
}
.btnn-close:hover{
    color: #e68910;
}
/**/

@media (max-width: 320px) {
    #titulo{
        margin-left: 3px;
    }
}
/*Extra large screens, TV*/
@media (min-width: 1201px){
    #side-menu .sidenav-item{
        font-size: 24px;
    }
}